  @font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'),local('OpenSans-Light'),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OX-hpOqc.woff2) format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'),local('OpenSans-Light'),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OVuhpOqc.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'),local('OpenSans-Light'),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OXuhpOqc.woff2) format('woff2');unicode-range:U+1F00-1FFF}@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'),local('OpenSans-Light'),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUehpOqc.woff2) format('woff2');unicode-range:U+0370-03FF}@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'),local('OpenSans-Light'),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OXehpOqc.woff2) format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+1EA0-1EF9,U+20AB}@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'),local('OpenSans-Light'),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OXOhpOqc.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'),local('OpenSans-Light'),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'),local('OpenSans-Regular'),url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'),local('OpenSans-Regular'),url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'),local('OpenSans-Regular'),url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');unicode-range:U+1F00-1FFF}@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'),local('OpenSans-Regular'),url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');unicode-range:U+0370-03FF}@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'),local('OpenSans-Regular'),url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+1EA0-1EF9,U+20AB}@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'),local('OpenSans-Regular'),url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'),local('OpenSans-Regular'),url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'),local('OpenSans-SemiBold'),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOX-hpOqc.woff2) format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'),local('OpenSans-SemiBold'),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOVuhpOqc.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'),local('OpenSans-SemiBold'),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXuhpOqc.woff2) format('woff2');unicode-range:U+1F00-1FFF}@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'),local('OpenSans-SemiBold'),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUehpOqc.woff2) format('woff2');unicode-range:U+0370-03FF}@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'),local('OpenSans-SemiBold'),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXehpOqc.woff2) format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+1EA0-1EF9,U+20AB}@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'),local('OpenSans-SemiBold'),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXOhpOqc.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'),local('OpenSans-SemiBold'),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhp.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'),local('OpenSans-Bold'),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOX-hpOqc.woff2) format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'),local('OpenSans-Bold'),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOVuhpOqc.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'),local('OpenSans-Bold'),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXuhpOqc.woff2) format('woff2');unicode-range:U+1F00-1FFF}@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'),local('OpenSans-Bold'),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUehpOqc.woff2) format('woff2');unicode-range:U+0370-03FF}@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'),local('OpenSans-Bold'),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXehpOqc.woff2) format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+1EA0-1EF9,U+20AB}@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'),local('OpenSans-Bold'),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXOhpOqc.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'),local('OpenSans-Bold'),url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}
  html,body {
    background: color(0, 0, 0);
    background-size: cover;
  }
  #waifu-toggle {
      background-color: #fa0;
      border-radius: 5px;
      bottom: 66px;
      color: #fff;
      cursor: pointer;
      font-size: 12px;
      left: 0;
      margin-left: -100px;
      padding: 5px 2px 5px 5px;
      position: fixed;
      transition: margin-left 1s;
      width: 60px;
      writing-mode: vertical-rl;
  }
  #waifu-toggle.waifu-toggle-active {margin-left: -50px;}
  #waifu-toggle.waifu-toggle-active:hover {margin-left: -30px;}
  #waifu {
      bottom: -1000px;
      left: 0;
      line-height: 0;
      margin-bottom: -10px;
      position: fixed;
      transform: translateY(3px);
      transition: transform .3s ease-in-out, bottom 3s ease-in-out;
      z-index: 1;
  }
  #waifu:hover {transform: translateY(0);}
  #waifu-tips {
      animation: shake 50s ease-in-out 5s infinite;
      background-color: rgba(236, 217, 188, .5);
      border: 1px solid rgba(224, 186, 140, .62);
      border-radius: 12px;
      box-shadow: 0 3px 15px 2px rgba(191, 158, 118, .2);
      font-size: 14px;
      line-height: 24px;
      margin: -30px 20px;
      min-height: 70px;
      opacity: 0;
      overflow: hidden;
      padding: 5px 10px;
      position: absolute;
      text-overflow: ellipsis;
      transition: opacity 1s;
      width: 250px;
      word-break: break-all;
  }
  #waifu-tips.waifu-tips-active {
      opacity: 1;
      transition: opacity .2s;
  }
  #waifu-tips span {color: #0099cc;}
  #live2d {
      cursor: grab;
      height: 300px;
      position: relative;
      width: 300px;
  }
  #live2d:active {cursor: grabbing;}
  #waifu-tool {
      color: #aaa;
      opacity: 0;
      position: absolute;
      right: -10px;
      top: 70px;
      transition: opacity 1s;
  }
  #waifu:hover #waifu-tool {opacity: 1;}
  #waifu-tool span {
      display: block;
      height: 30px;
      text-align: center;
  }
  #waifu-tool svg {
      fill: #7b8c9d;
      cursor: pointer;
      height: 25px;
      transition: fill .3s;
  }
  #waifu-tool svg:hover {
      fill: #0684bd;
      /* #34495e */
  }
  @keyframes shake {
      2% {transform: translate(.5px, -1.5px) rotate(-.5deg);}
      4% {transform: translate(.5px, 1.5px) rotate(1.5deg);}
      6% {transform: translate(1.5px, 1.5px) rotate(1.5deg);}
      8% {transform: translate(2.5px, 1.5px) rotate(.5deg);}
      10% {transform: translate(.5px, 2.5px) rotate(.5deg);}
      12% {transform: translate(1.5px, 1.5px) rotate(.5deg);}
      14% {transform: translate(.5px, .5px) rotate(.5deg);}
      16% {transform: translate(-1.5px, -.5px) rotate(1.5deg);}
      18% {transform: translate(.5px, .5px) rotate(1.5deg);}
      20% {transform: translate(2.5px, 2.5px) rotate(1.5deg);}
      22% {transform: translate(.5px, -1.5px) rotate(1.5deg);}
      24% {transform: translate(-1.5px, 1.5px) rotate(-.5deg);}
      26% {transform: translate(1.5px, .5px) rotate(1.5deg);}
      28% {transform: translate(-.5px, -.5px) rotate(-.5deg);}
      30% {transform: translate(1.5px, -.5px) rotate(-.5deg);}
      32% {transform: translate(2.5px, -1.5px) rotate(1.5deg);}
      34% {transform: translate(2.5px, 2.5px) rotate(-.5deg);}
      36% {transform: translate(.5px, -1.5px) rotate(.5deg);}
      38% {transform: translate(2.5px, -.5px) rotate(-.5deg);}
      40% {transform: translate(-.5px, 2.5px) rotate(.5deg);}
      42% {transform: translate(-1.5px, 2.5px) rotate(.5deg);}
      44% {transform: translate(-1.5px, 1.5px) rotate(.5deg);}
      46% {transform: translate(1.5px, -.5px) rotate(-.5deg);}
      48% {transform: translate(2.5px, -.5px) rotate(.5deg);}
      50% {transform: translate(-1.5px, 1.5px) rotate(.5deg);}
      52% {transform: translate(-.5px, 1.5px) rotate(.5deg);}
      54% {transform: translate(-1.5px, 1.5px) rotate(.5deg);}
      56% {transform: translate(.5px, 2.5px) rotate(1.5deg);}
      58% {transform: translate(2.5px, 2.5px) rotate(.5deg);}
      60% {transform: translate(2.5px, -1.5px) rotate(1.5deg);}
      62% {transform: translate(-1.5px, .5px) rotate(1.5deg);}
      64% {transform: translate(-1.5px, 1.5px) rotate(1.5deg);}
      66% {transform: translate(.5px, 2.5px) rotate(1.5deg);}
      68% {transform: translate(2.5px, -1.5px) rotate(1.5deg);}
      70% {transform: translate(2.5px, 2.5px) rotate(.5deg);}
      72% {transform: translate(-.5px, -1.5px) rotate(1.5deg);}
      74% {transform: translate(-1.5px, 2.5px) rotate(1.5deg);}
      76% {transform: translate(-1.5px, 2.5px) rotate(1.5deg);}
      78% {transform: translate(-1.5px, 2.5px) rotate(.5deg);}
      80% {transform: translate(-1.5px, .5px) rotate(-.5deg);}
      82% {transform: translate(-1.5px, .5px) rotate(-.5deg);}
      84% {transform: translate(-.5px, .5px) rotate(1.5deg);}
      86% {transform: translate(2.5px, 1.5px) rotate(.5deg);}
      88% {transform: translate(-1.5px, .5px) rotate(1.5deg);}
      90% {transform: translate(-1.5px, -.5px) rotate(-.5deg);}
      92% {transform: translate(-1.5px, -1.5px) rotate(1.5deg);}
      94% {transform: translate(.5px, .5px) rotate(-.5deg);}
      96% {transform: translate(2.5px, -.5px) rotate(-.5deg);}
      98% {transform: translate(-1.5px, -1.5px) rotate(-.5deg);}
      0%,
      100% {transform: translate(0, 0) rotate(0);}
  }